@theme {
  --shadow-input-focus: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #717784;
  --shadow-button-focus: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #99A0AE;
  --shadow-primarybutton-focus: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #99A0AE;
  --shadow-menubar: 0px -4px 6px 0px rgba(240, 240, 240, 0.60);
  --shadow-queryField: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}
