/*
TODO shadows
*/

@theme {
  --shadow-input-focus: 0px 0px 0px 2px --color-neutral-0, 0px 0px 0px 4px --color-neutral-500;
  --shadow-button-focus: 0px 0px 0px 2px --color-neutral-0, 0px 0px 0px 4px --color-neutral-400;
  --shadow-primarybutton-focus: 0px 0px 0px 2px --color-neutral-0, 0px 0px 0px 4px --colors-neutral-400;
  --shadow-menubar: 0px -4px 6px 0px rgba(240, 240, 240, 0.60);
}